{% extends 'back.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
{% endblock %}
{% block main %}
<main id="main" class="main">
    <h1> Ajouter un événement </h1>
    {% for flash_message in app.session.flashBag.get('toastr') %}
    <script>
        toastr['{{ flash_message.type }}']('{{ flash_message.message }}');
    </script>
{% endfor %}
    {{ form_start(f, { 'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_label(f.nomEvent, 'Nom ') }}
        {{ form_widget(f.nomEvent, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(f.nomEvent)}}
    
        
        {{ form_label(f.localisation, 'Localisation') }}
        {{ form_widget(f.localisation, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(f.localisation)}}

        {{ form_label(f.typeEvent, 'Type') }}
        {{ form_widget(f.typeEvent, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(f.typeEvent)}}

        {{ form_label(f.image, 'Type') }}
        {{ form_widget(f.image, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(f.image)}}

        {{ form_label(f.videourl, 'videourl') }}
        {{ form_widget(f.videourl, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(f.videourl)}}
        
    {{ form_end(f) }}
    
</main>    


{% endblock %}