{% extends 'back.html.twig' %}

{% block main %}
<main id="main" class="main">
<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Liste des évènements</h5>
            

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col" class="border-0 rounded-start">Numéro_événement</th>
                  <th scope="col" class="border-0">Nom</th>
                  <th scope="col" class="border-0">Date</th>
                  <th scope="col" class="border-0">Localisation</th>
                  <th scope="col" class="border-0">Heure de debut</th>
                  <th scope="col" class="border-0">Heure de fin</th>
                  <th scope="col" class="border-0">Image</th>
                  <th scope="col" class="border-0">Type</th>
                
                 
                  <th scope="col" class="border-0 rounded-end">supprimer</th>
                  <th scope="col" class="border-0 rounded-end">modifier</th>
                </tr>
              </thead>
              {%  for e in  event %}
            <tbody>
            <!-- Table item -->
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <!-- Title -->
                        <h6 class="mb-0 ms-2 table-responsive-title">
                            <a href="#">{{ e.id }}</a>
                        </h6>
                    </div>
                </td>
                <td>{{ e.nomEvent }}</td>
                <td>{{ e.dateEvent.format('d/m/Y') }}</td>
                
                <!-- Amount item -->
                <td>{{ e.localisation }}</td>
                <td>{{ e.heureDeb.format('H:i') }}</td>
                <td>{{ e.heureFin.format('H:i') }}</td>
                <td><img  width="70" height="70"src="{{ asset('uploads/images/' ~ e.getImage()) }}"/></td>
                
                <td>{{ e.typeEvent }}</td>
        
                <!-- Action item -->
                <td><form action="{{ path('deleteEvent', {id:e.id}) }}">
                  <button  >supprimer</button>
              </form> </td>
              <td><form action="{{ path('updateEvent', {id:e.id}) }}">
                <button  >modifier</button>
            </form> </td>
            </tbody>
            {% endfor %}
            </table>
            <!-- End Table with stripped rows -->

          </div>
          <form action="{{ path('readEvent') }}">
            <button class="btn btn-primary mb-0 mt-3" >retour a la liste</button>
            <form action="{{ path('createEvent') }}">
              <button class="btn btn-primary mb-0 mt-3" >Ajouter un événement</button>
        </form>
        </div>
        
      </form>

      </div>
    </div>
  </section>
  <li class="d-flex align-items-center"><p>partager dans facebook</p><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}&amp;quote=Check+out+this+awesome+post" target="_blank">
    <i class="bi bi-facebook"></i>
    </a>
  </li>
 
   <li class="d-flex align-items-center">
    <p>partager dans twitter</p>
<a href="https://twitter.com/intent/tweet?url={{ app.request.uri }}&amp;text=consulter notre nouveau evenement" target="_blank">
<i class="bi bi-twitter"></i>
</main><!-- End #main -->
<script>
  function activeSelect(e) {
      if (!check) {
          check = true;
          document.querySelector('.note').innerHTML = 'Note ' + e.target.dataset.note;
          $.post('save_rating.php', { rating: e.target.dataset.note }, function(response) {
              // Réponse du serveur
              console.log(response);
          });
      }
  }
  </script>
{% endblock %}