
{% extends 'front.html.twig' %}



{% block header %}
     <header class=header-main>
        <div class=header-upper>
            <div class=container>
          
                <div class="row">
                <ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY')  %} 

                 <li>                
                 {% if app.user.image == null   %}
                        <img src="{{asset('/uploads/images/user.jpg')}}" alt="Profile"  class="rounded-circle" style="width: 25px;padding-top:2px;">
                        {% else %}
                        <img src="{{asset('/uploads/images/' ~ app.user.image)}}" alt="Profile"  class="rounded-circle" style="width: 25px;padding-top:6px;">
                       {% endif %}</li>
                        <li><a href="{{path('clientProfileee')}}">{{app.user.firstName}} {{app.user.secondName}}</a></li>
                        
                        <li><a href="{{path('app_logout')}}"><i class="fa fa-sign-out"></i> 
                        <span>Logout</span></a>
                    </li>                 
                    {% else %}
                     <ul>

                        <li><a href="{{path('app_login')}}">Signup/login</a></li>
                        <li><a href=shopcart.html><i class="fa fa-shopping-cart"></i> <span>cart(<span  class=cartitems>0</span>)</span></a></li>
                    </ul>
                    {% endif %}
                </ul>
                   
                </div>
            </div>
        </div>
       <div class=header-lower clearfix>
            <div class=container>
                <div class=row><h1 class=logo><a href=index-2.html><img src="{{asset('assetsFront/images/tunisport.png')}}" alt=image></a></h1>

                 <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span></button>
                                </div>
                                <div class=nav-menu>
                                    <ul class="nav navbar-nav menu-bar">
                                        <li><a href="{{path('frontMatch')}}">Home <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                         <li><a href="{{path('read_Match')}}">Matchs <span></span> <span></span>
                                            <span></span> <span></span></a></li>
                                        <li><a href="#">réservation <span></span> <span></span> <span></span>
                              

                                        <li><a href="{{path('readblogfront')}}" >blog <span></span> <span></span>
                                            <span></span> <span></span></a></li>
                                       
                                        <li><a href="{{path('read_Event')}}">Evenement <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                             <li><a >Hebergement <span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href="{{path('listHebergement')}}">Liste hebergement </a></li>
                                                <li><a href="{{path('listTransport')}}">Transport</a></li>
                     
                                            </ul>
                                        </li>
                                        <li><a href=contact.html>contact <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class=social><a href=https://www.facebook.com/templatespoint.net class=facebook><i
                            class="fa fa-facebook"></i></a> <a href=https://twitter.com/itobuztech class=twitter><i
                            class="fa fa-twitter"></i></a> <a href=https://www.behance.net/ class=behance><i
                            class="fa fa-behance"></i></a></div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block banner %}
<div class=innerbannerwrap>
    <div class=content></div>
    <div class=innerbanner><h2 class=bannerHeadline>Découvrir<span>Tunisie</span></h2></div>
</div>
{% endblock %}

{% block stylesheets %}
    <style>
        #calendrier{
            width: 80%;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
{% include "event/calendrier.html.twig" %}
<section class=matchSchedule>
    <div id='calendrier'></div>
    <div class=container>
        <div class=row><h2 class=heading>Trouver <span>un evenement</span></h2>

        

            <div class="matchSchedule_details row">
                <div class=match_next>
                    <div class="wrap_match_next right-triangle">
                        <div class=right-padding><h4 class=headline03>liste des evenements</h4>

                            </div>
                    </div>
                </div>
                <div class=match_versus-wrap>
                    <div class=wrap_match-innerdetails>
                        <ul class="point_table scrollable">
                            {% for e in event %}
                            <li class=clearfix>
                                <div class=subPoint_table>
        
                                    <div class="headline01 largepoint">{{ e.nomEvent }}</div>
                                    <div ><span> <form action="{{ path('detailsEvent', {id:e.id}) }}">
                                    <button  >details</button>
                                           </form>
                                    </span></div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/vendor/vendor.js')}}"></script>
<script src="{{asset('js/main.js')}}"></script>



<script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendrier');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: "{{ path('event_list') }}"
    });

    calendar.render();
    
    calendar.on('dateClick', function(info) {
        $.ajax({
            url: "{{ path('event_list') }}",
            data: {
            
                start: info.dateStr
            },
            success: function(data) {
                calendar.removeAllEvents();
                calendar.addEventSource(data);
            }
        });
    });
});

</script>
{% endblock %}