{% extends 'back.html.twig' %}

{% block main %}
<br><br><br><br><br>
{{form(form)}}

<div class="card"  style=" padding-left:400px;">
	<div class="card-body">
	  <h5 class="card-title">liste Transport</h5>

	  <!-- Default Table -->
	  <table class="table" style="width: 50px;">
		<thead>
		  <tr>
			<th scope="col">image Transport</th>

			<th scope="col">id</th>

			<th scope="col">nom Transport</th>
			<th scope="col">type de Transport</th>

		  </tr>
		</thead>
		<tbody>
	{% for s in Transports %}
		<tr>
			<TD><img src="{{ asset('/uploads/images/' ~ s.getImageTransport()) }}" width="100px" height="100px" alt="" /></TD>
			<td>{{s.id}}</td>

			<td>
			{{s.nomTransport}}
			</td>
		
			<td>
			{{s.categoryTransport}}
			</td>
			<td>
				<button class="btn btn-primary">
					<a href="{{ path ('deleteTransport', {'id': s.id})}}">delete</a>
				</button>
			</td>
			<td>
				<button class="btn btn-primary">
					<a href="{{ path ('app_Transport_edit', {'id': s.id})}}">update</a>
				</button>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
<!-- End Default Table Example -->
</div>
</div>
<a href="{{path ('AddP')}}"> Ajouter</a>
{% endblock %}