{% extends "back.html.twig" %}


{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}
{% block main %}{% endblock %}


{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <img src="{{asset('assets/img/aa.png')}}"  alt="">
                
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4" style="color: orangered;">Reset Password</h5>
                    
                  </div>

                  

                 {{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
                    
               {# {% if form_errors(form.firstName) and form_errors(form.secondName) %} #}
                               
   {% if   form.vars.submitted and not form.vars.valid %}

 <div class="alert alert-danger alert-dismissible fade show"  role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
              
                  {{ form_errors(form.email) }}
                
                 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
{% endif %}
          

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Email</label>
                      {{form_widget(form.email,{'attr':{'class':'form-control'}})}}

                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div
                    <div class="col-12">
                      
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" style="background-color: orangered;"data-toggle="modal" data-target="#exampleModalCenter" style="border-color: orangered;">Save the change</button>
                    </div>
                   
                      {% if   form.vars.submitted and form.vars.valid %}

<!-- Button trigger modal -->
{# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> #}
{# <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> #}
<!-- Modal -->
{# <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Merci pour votre inscription ,{% set emoji = '&#x1F600;' %}{{ emoji|raw }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a type="button" href="{{path('app_mailer')}}" class="btn btn-primary">Save changes</a>
      </div>
    </div>
  </div>
</div> #}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endif %}

                   {{form_end(form)}}
                </div>
              </div>

              

            </div>
          </div>
        </div>

      </section>

    </div>








{% endblock %}